/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.calendar-container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    max-width: 400px;
}

.date-display {
    position: relative;
    color: white;
    text-align: center;
}

.background-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.date-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.month-year {
    font-size: 18px;
    margin-bottom: 10px;
}

.date-number {
    font-size: 72px;
}

.today-button {
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.calendar {
    padding: 20px;
    height: 20em;
}

.month-navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.month-navigation button {
    background-color: #ef476f;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.days-of-week {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.days-of-week span {
    flex: 1;
    text-align: center;
    font-weight: bold;
}

.days {
    display: flex;
    flex-wrap: wrap;
}

.day, .days div {
    width: calc(100% / 7);
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
}

.day.selected {
    background: #ef476f;
    color: white;
    border-radius: 30%;
}

.day.booked {
    background: white;
    color: white;
    border-radius: 30%;
    position: relative;
}

.day.booked::after {
    content: '❌';
    font-size: 20px;
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Booking date */

.booking-container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

.booking-container h1 {
    margin-bottom: 20px;
}

.booking-container form {
    margin-bottom: 20px;
}

.booking-container input {
    padding: 10px;
    margin: 10px 0;
    width: calc(100% - 22px);
}

.booking-container button {
    padding: 10px 20px;
    background-color: #ef476f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

#bookingMessage {
    margin: 10px 0;
    color: red;
}

.booked-list-container {
    text-align: left;
    margin-bottom: 20px;
}

.booked-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background: #f4f4f9;
    border-radius: 5px;
}

.booked-list-item span {
    flex-grow: 1;
    text-align: left;
}

.booked-list-item button {
    background-color: #ef476f;
    color: white;
    border: none;
    /* padding: 5px 10px; */
    border-radius: 5px;
    cursor: pointer;
}

.back-link {
    display: block;
    margin-top: 20px;
    color: #ef476f;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}


/* Footer */
footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

footer p {
    margin: 0;
}


/* Feedback */
.star-rating {
    direction: rtl;
    display: inline-block;
    padding: 20px
}

.star-rating input[type=radio] {
    display: none
}

.star-rating label {
    color: #bbb;
    font-size: 18px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.star-rating label:hover,
.star-rating label:hover~label,
.star-rating input[type=radio]:checked~label {
    color: #f2b600
}